.clock {
  display: block;
  vertical-align: middle;
  font-size: 75px;
  text-align: center;
  font-family: monospace;
  margin: 50px 0;
}
.random_symbols table {
  table-layout: fixed;
  margin: 0 auto;
}
.random_symbols td {
  text-align: center;
  width: 100px;
}
.ninebynine {
  display: inline-block;
  font-size: 100px;
  line-height: 100px;
  vertical-align: middle;
  height: 100px;
  font-family: 'Open Sans', 'Times New Roman', Arial, serif, 'sans-serif', monospace;  
  margin: 50px 0 75px 0;
}
.random_colors {
  text-align: center;
  margin: 75px 0 0 0;
}
.example {
  display: inline-block;
  width: 75px;
  height: 75px;
}