body {
  background: hsl(0, 0%, 50%);
}

.container {
  width: 50%;
  height: 100px;
  margin: 100px auto 0 auto;
}

.container div {
  float: left;
  width: 10%;
  height: 100%
}

.gradient {
  width: 100%;
  height: 100px;
  margin-top: 50px;
  background-image:repeating-linear-gradient(90deg,
    hsl(0, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(0, 100%, 50%) 33.333333%);
}

.check {
  width: 50%;
  height: 100px;
  margin: 50px auto 0 auto;
}

.check div {
  float: left;
  width: 10%;
  height: 100%
}

div.mid {
  width: 7.5%;
}

.mid div {
  height: 50%;
  width: 100%;
}

.red {
  background: hsl(0, 100%, 50%);
}
.yellow {
  background: hsl(60, 100%, 50%);
}
.green {
  background: hsl(120, 100%, 50%);
}
.cyan {
  background: hsl(180, 100%, 50%);
}
.blue {
  background: hsl(240, 100%, 50%);
}
.magenta {
  background: hsl(300, 100%, 50%);
}

.first {
  background: hsl(300, 100%, 50%);
}
.second {
  background: hsl(210, 100%, 50%);
}
.third {
  background: hsl(30, 100%, 50%);
}
.fourth {
  background: hsl(120, 100%, 50%);
}
