@import url('https://fonts.googleapis.com/css?family=Orbitron:700|Roboto+Slab');

body, button, input, textarea {
  font-family: "Roboto Slab", Arial, "Times New Roman", "sans-serif", serif;
}

body {
  background: #16536e;
  color: #edecf1;
}

body, ul, li, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  position: relative;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.table {
  display: table;
  height: 100%;
  width: 100%;
}

.cell {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #001126;
  text-transform: uppercase;
  z-index: 1;
}

header a {
  position: relative;
  color: #fff;
  text-decoration: none;
}

.logo {
  display: inline-block;
  margin: 0 0 0 50px;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
  padding-top: 20px;
  letter-spacing: 2px;
}

.navmenu a:before {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: width .5s;
}

.navmenu a:hover:before {
  width: 100%;
}

@media (max-width: 768px) {
  .logo {
    position: relative;
    margin: 0 0 7px 15px;
    font-size: 1.6em;
    padding-top: 16px;
    z-index: 1;
  }

  .navmenu {
    position: absolute;
    width: 100%;
    text-align: center;
    background: #001126;
    padding: 50px 0 10px;
    transform: translate(0, -100%);
    transition: transform .5s;
  }

  .navmenu.active {
    transform: translate(0, 0);
  }

  .navmenu li {
    font-size: 2em;
    margin-bottom: 50px;
  }

  .navmenu a {
    border-bottom: solid 2px #fff;
  }

  .navmenu-btn {
    position: fixed;
    top: 12px;
    right: 15px;
    width: 32px;
    height: 26px;
    z-index: 5;
  }

  .navmenu-btn span {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #edecf1;
    transition: all .5s ease;
  }

  .navmenu-btn span:first-child {
    top: 0;
  }

  .navmenu-btn span:nth-child(2) {
    top: 50%;
    margin-top: -1px;
  }

  .navmenu-btn span:last-child {
    bottom: 0;
  }

  .navmenu-btn.active span:first-child {
    transform: rotate(-135deg);
    top: 12px;
  }

  .navmenu-btn.active span:nth-child(2) {
    transform: rotate(180deg);
    opacity: 0;
  }

  .navmenu-btn.active span:last-child {
    transform: rotate(135deg);
    bottom: 13px;
  }

  #portfolio .preview-details,
  #portfolio .preview-details div {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
  }

  .preview-link {
    display: none;
  }
}

@media (min-width: 768px) {
  .logo {
    margin-left: 50px;
    font-size: 30px;
    padding-top: 20px;
  }

  .navmenu {
    position: static;
    float: right;
    background: none;
    width: auto;
    padding: 0;
    transform: none;
  }

  .navmenu li {
    display: inline-block;
    line-height: 64px;
    margin: 0 20px 0 0;
    font-size: 20px;
    letter-spacing: 2px;
  }

  .navmenu a {
    border-bottom: none;
  }

  .navmenu-btn {
    display: none;
  }
}

.tagline {
  text-align: center;
  padding: 270px 0 205px 0;
  font-size: 36px;
}

#portfolio,
#about,
#contacts {
  padding: 50px 0 100px 0;
  overflow-y: hidden;
}

#portfolio {
  background: #489eba;
  text-align: center;
}

#portfolio .small-tagline {
  margin-bottom: 20px;
}

.small-tagline {
  text-align: center;
}

.small-tagline span {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  font-size: 20px;
}

.small-tagline span:before,
.small-tagline span:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 200px;
  height: 1px;
  background: #fff;
}

.small-tagline span:before {
  left: -230px;
}

.small-tagline span:after {
  right: -230px;
}

.preview {
  position: relative;
  display: inline-block;
  width: 40%;
  overflow: hidden;
  box-shadow: 0 0 10px 2px #16536e;
}

.preview:first-child {
  margin-right: 90px;
}

.preview img {
  display: block;
  width: 100%;
}

.preview-item {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: opacity .3s;
}

.preview:hover .preview-item {
  opacity: 1;
}

.preview-item-btn {
  position: relative;
  box-sizing: border-box;
  width: 60%;
  margin: 0 auto;
  border: solid 1px #fff;
  background: rgba(255, 255, 255, .4);
  text-align: left;
  font-size: 1.2em;
}

.preview-item-btn:first-child {
  margin-bottom: 5%;
}

.preview-item-btn span {
  font-size: 1.5em;
  position: absolute;
  top: 25%;
  right: 20px;
}

.preview-item-btn a,
.preview-item-btn div {
  display: block;
  padding: 10px 0 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: color .3s, background .3s;
}

.preview-item-btn:hover a,
.preview-item-btn:hover div {
  color: #fff;
  background: #489eba;
  cursor: pointer;
}

.preview-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 17, 38, .97);
  z-index: 2;
  color: #edecf1;
  display: none;
  opacity: 0;
  transition: opacity .5s;
}

.preview-modal-item {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  perspective: 2000px;
}

.preview-modal-item p {
  font-size: 2em;
  padding: 20px 0;
  color: #edecf1;
}

.preview-modal-item ul {
  color: #edecf1;
  padding-left: 10%;
  font-size: 1.5em;
}

.preview-modal-item li {
  list-style: disc;
  margin-bottom: 20px;
}

.preview-modal-wrapper {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.preview-modal-scroll {
  position: absolute;
  height: 100%;
  overflow: auto;
  left: 0;
  right: -17px;
}

.preview-modal-description {
  text-align: left;
  margin: 3% 0 0 22%;
}

.preview-modal-description p:first-child {
  font-size: 3.7em;
}

.preview-modal-description p:nth-child(3) {
  margin-bottom: 25px;
}

div[class^="modal-btn"] {
  position: fixed;
  bottom: 5%;
  border: none;
  background: none;
  font-size: 3em;
  color: #edecf1;
  transition: color .4s;
}

.modal-btn-link a {
  text-decoration: none;
  color: #edecf1;
  transition: color .4s;
}

.modal-btn-close {
  left: 3%;
}

.modal-btn-link {
  right: 3%;
}

.modal-btn-close span {
  margin-right: 20px;
}

.modal-btn-link span {
  margin-left: 20px;
}

.modal-btn-close:hover,
.modal-btn-link:hover a {
  color: #16536e;
  cursor: pointer;
}

.preview-modal-item img {
  position: absolute;
  top: 50%;
  right: 6%;
  height: 70%;
  transform-origin: 50% 50%;
  transform: translate(0, -50%) rotateX(14deg) rotateY(-16deg) rotateZ(7deg);
  transition: all 2s ease;
}

.preview-modal-item img:hover {
  transform: translate(0, -50%) rotateX(16deg) rotateY(-18deg) rotateZ(9deg);
}

#wooder.preview-modal-item a:last-child img {
  right: 15%;
}

#modus.preview-modal-item a:last-child img {
  right: 29%;
}

#about {
  background: #b3c9d9;
  color: #001126;
}

#about .container {
  max-width: 720px;
}

#about .small-tagline span:before,
#about .small-tagline span:after,
#contacts .small-tagline span:before,
#contacts .small-tagline span:after {
  background: #001126;
}

#about img {
  border: 3px solid #000;
  width: 200px;
  float: left;
  margin-right: 30px;
}

.skills {
  margin: 20px 0 0 20px;
}

#contacts {
  height: 400px;
  background: #edecf1;
  color: #001126;
  padding-top: 
}

.contacts-info {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 6px 3% 0 10%;
}

.main-form {
  box-sizing: border-box;
  float: right;
  padding: 0 10% 0 3%;
  width: 50%;
}

.main-form label,
.main-form input,
.main-form textarea {
  display: block;
  width: 100%;
}

.main-form label {
  padding: 0 0 5px 7px;
  font-size: 1.2em;
}

.main-form input,
.main-form textarea {
  margin-bottom: 15px;
  font-size: 1em;
  line-height: 2;
  padding-left: 10px;
}

.main-form textarea {
  font-size: 1.1em;
}

.main-form button {
  background: #489eba;
  border: none;
  font-size: 1.5em;
  padding: 7px 35px;
  transition: background .6s, color .6s;
  color: #edecf1;
}

.main-form button:hover {
  cursor: pointer;
  background: #b3c9d9;
  color: #001126;
}

footer {
  position: relative;
}

footer .logo {
  display: block;
  margin: 0;
  text-align: center;
  padding: 20px 0 15px 0;
}

.copyright {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
  height: 20px;
  font-size: 0.8em;
}