@import url('https://fonts.googleapis.com/css?family=Orbitron:700|Roboto+Slab');

body, button, input, textarea {
  font-family: "Roboto Slab", Arial, "Times New Roman", "sans-serif", serif;
}

body {
  background: #16536e;
  color: #edecf1;
}

body, ul, li, p {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.table {
  display: table;
  height: 100%;
  width: 100%;
}

.cell {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #001126;
  text-transform: uppercase;
  z-index: 1;
}

header a {
  position: relative;
  color: #fff;
  text-decoration: none;
}

.logo {
  display: inline-block;
  margin: 0 0 0 50px;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
  padding-top: 20px;
  letter-spacing: 2px;
}

.navmenu a:before {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: width .5s;
}

.navmenu a:hover:before {
  width: 100%;
}

#portfolio,
#about,
#contacts {
  padding: 50px 0;
  overflow-x: hidden;
}

#portfolio {
  background: #489eba;
  text-align: center;
}

#portfolio .small-tagline {
  margin-bottom: 20px;
}

.tagline {
  text-align: center;
  padding: 270px 0 205px 0;
  font-size: 36px;
}

.small-tagline {
  text-align: center;
}

.small-tagline span {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  font-size: 20px;
}

.small-tagline span:before,
.small-tagline span:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 200px;
  height: 1px;
  background: #fff;
}

.small-tagline span:before {
  left: -230px;
}

.small-tagline span:after {
  right: -230px;
}

.preview {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 0 10px 2px #16536e;
}

.preview img {
  display: block;
  width: 100%;
}

.preview-item {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: opacity .3s;
}

.preview:hover .preview-item {
  opacity: 1;
}

.preview-item-btn {
  position: relative;
  box-sizing: border-box;
  width: 60%;
  margin: 0 auto;
  border: solid 1px #fff;
  background: rgba(255, 255, 255, .4);
  text-align: left;
  font-size: 1.2em;
}

.preview-item-btn:first-child {
  margin-bottom: 5%;
}

.preview-item-btn span {
  font-size: 1.5em;
  position: absolute;
  top: 25%;
  right: 20px;
}

.preview-item-btn a,
.preview-item-btn div {
  display: block;
  padding: 10px 0 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: color .3s, background .3s;
}

.preview-item-btn:hover a,
.preview-item-btn:hover div {
  color: #fff;
  background: #489eba;
  cursor: pointer;
}

.preview-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 17, 38, .97);
  z-index: 2;
  color: #edecf1;
  display: none;
  opacity: 0;
  transition: opacity .5s;
}

.preview-modal-item {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  perspective: 2000px;
}

.preview-modal-item p {
  font-size: 2em;
  padding: 10px 0;
  color: #edecf1;
}

.preview-modal-item ul {
  color: #edecf1;
  padding-left: 10%;
  font-size: 1.5em;
}

.preview-modal-item li {
  margin-bottom: 20px;
}

.preview-modal-wrapper {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.preview-modal-scroll {
  position: absolute;
  height: 100%;
  overflow: auto;
  left: 0;
  right: -17px;
}

.preview-modal-description {
  text-align: left;
  margin: 3% 0 0 12%;
}

.preview-modal-description p:first-child {
  font-size: 3.7em;
}

.preview-modal-description p:nth-child(3) {
  margin-bottom: 25px;
}

div[class^="modal-btn"] {
  position: fixed;
  bottom: 3%;
  border: none;
  background: none;
  font-size: 3em;
  color: #edecf1;
  transition: color .4s;
  text-transform: uppercase;
}

.modal-btn-link a {
  text-decoration: none;
  color: #edecf1;
  transition: color .4s;
}

.modal-btn-close {
  left: 3%;
}

.modal-btn-link {
  right: 3%;
}

.modal-btn-close span {
  margin-right: 20px;
}

.modal-btn-link span {
  margin-left: 20px;
}

.modal-btn-close:hover,
.modal-btn-link:hover a {
  color: #16536e;
  cursor: pointer;
}

.preview-modal-img {
  display: block;
  position: absolute;
  top: 50%;
  right: 6%;
  width: 20%;
  height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  transform-origin: 50% 50%;
  transform: translate(0, -50%) rotateX(14deg) rotateY(-16deg) rotateZ(7deg);
  transition: all 2s ease;
}

.preview-modal-img:hover {
  transform: translate(0, -50%) rotateX(16deg) rotateY(-18deg) rotateZ(9deg);
}

#wooder .preview-modal-img {
  right: 15%;
  background-image: url('images/wooder_1.jpg');
}

#modus.preview-modal-img:first-child {
  right: 29%;
  background-image: url('images/modus_1.jpg');
}

#modus.preview-modal-img:last-child {
  right: 29%;
  background-image: url('images/modus_2.jpg');
}

#about {
  background: #b3c9d9;
  color: #001126;
}

#about .container {
  max-width: 720px;
}

#about .small-tagline span:before,
#about .small-tagline span:after,
#contacts .small-tagline span:before,
#contacts .small-tagline span:after {
  background: #001126;
}

#about img {
  border: 3px solid #000;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.about-resume {
  padding: 0 5%;
}

.skills {
  margin: 20px 0 0 20px;
}

.skills p {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 20px;
}

.skills li {
  margin-bottom: 5px;
}

.skills ul li:first-child {
  list-style: none;
  margin: 0 0 10px -20px;;
}

.skills ul {
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 20px;
}

#contacts {
  background: #edecf1;
  color: #001126;
}

.contacts-info p:first-child {
  font-size: 1.4em;
  margin: 25px 0;;
}

.contacts-info ul {
  margin-top: 25px;
}

.contacts-info li {
  list-style: none;
}

.contacts-info li p {
  display: inline-block;
  margin-top: 5px;
  vertical-align: top;
}

.contacts-info span {
  font-size: 2em;
  width: 60px;
  text-align: center;
}

.contacts-info li:first-child {
  margin-bottom: 30px;
}

.contacts-info a {
  color: #001126;
  text-decoration: none;
  transition: color .6s;
}

.contacts-info a:hover {
  color: #16536e;
}

.main-form {
  box-sizing: border-box;
  padding: 0 10% 0 3%;
  float: right;
}

.main-form label,
.main-form input,
.main-form textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.main-form label {
  padding: 0 0 5px 7px;
  font-size: 1.2em;
}

.main-form input,
.main-form textarea {
  margin-bottom: 15px;
  font-size: 1em;
  line-height: 2;
  padding-left: 10px;
}

.main-form textarea {
  font-size: 1.1em;
}

.main-form button {
  background: #489eba;
  border: none;
  font-size: 1.5em;
  padding: 7px 35px;
  transition: background .6s, color .6s;
  color: #edecf1;
}

.main-form button:hover {
  cursor: pointer;
  background: #b3c9d9;
  color: #001126;
}

.main-form button:focus {
  outline: none;
}

footer {
  position: relative;
}

footer .logo {
  display: block;
  margin: 0;
  text-align: center;
  padding: 20px 0 15px 0;
}

.copyright {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
  height: 20px;
  font-size: 0.8em;
}

/*
===========================================================
BEGIN MEDIA QUERIES
===========================================================
*/

@media (max-width: 1024px) {
  div[class^="modal-btn"] {
    bottom: 10px;
  }

  .preview-modal-item {
    font-size: 0.8em;
  }

  #wooder .preview-modal-img {
    width: 20%;
    background-image: url(images/wooder_1.jpg);
    padding-top: 29.94%;
  }

  #modus .modus-main-img {
    right: 25%;
    width: 20%;
    padding-top: 38.48%;
    background-image: url('images/modus_1.jpg');
  }

  #modus .modus-blog-img {
    right: 5%;
    width: 20%;
    padding-top: 35.98%;
    background-image: url('images/modus_2.jpg');
  }
}

@media (max-width: 768px) {
  .logo {
    position: relative;
    margin: 0 0 7px 15px;
    font-size: 1.6em;
    padding-top: 16px;
    z-index: 1;
  }

  .navmenu {
    position: absolute;
    width: 100%;
    text-align: center;
    background: #001126;
    padding: 50px 0 10px;
    transform: translate(0, -100%);
    transition: transform .5s;
  }

  .navmenu.active {
    transform: translate(0, 0);
  }

  .navmenu li {
    font-size: 2em;
    margin-bottom: 50px;
  }

  .navmenu a {
    border-bottom: solid 2px #fff;
  }

  .navmenu-btn {
    position: fixed;
    top: 12px;
    right: 15px;
    width: 32px;
    height: 26px;
    z-index: 5;
  }

  .navmenu-btn span {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #edecf1;
    transition: all .5s ease;
  }

  .navmenu-btn span:first-child {
    top: 0;
  }

  .navmenu-btn span:nth-child(2) {
    top: 50%;
    margin-top: -1px;
  }

  .navmenu-btn span:last-child {
    bottom: 0;
  }

  .navmenu-btn.active span:first-child {
    transform: rotate(-135deg);
    top: 12px;
  }

  .navmenu-btn.active span:nth-child(2) {
    transform: rotate(180deg);
    opacity: 0;
  }

  .navmenu-btn.active span:last-child {
    transform: rotate(135deg);
    bottom: 13px;
  }

  .small-tagline span {
    margin-bottom: 30px;
  }

  #portfolio .preview-details,
  #portfolio .preview-details div {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .preview-link {
    display: none;
  }

  .preview {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .preview:first-child {
    margin-bottom: 40px;
  }

  .preview-modal-item {
    font-size: 0.6em;
  }

  .preview-modal-wrapper {
    width: 100%;
  }

  .preview-modal-description {
    margin: 0;
    padding: 0 10%;
  }

  .preview-modal-description p {
    padding: 0;
    text-align: center;
  }

  .preview-modal-description p:nth-child(3) {
    margin: 20px 0 0 0;
    text-align: left;
  }


  .preview-modal-description li {
    margin: 0;
  }

  .preview-modal-img {
    position: absolute;
    bottom: 15%;
    transform-origin: 50% 50%;
    transform: none;
  }

  #wooder .preview-modal-img {
    background-image: url('images/wooder.jpg');
    width: 40%;
    padding-top: 22.72%;
    right: 50%;
    transform: translate(50%, 0);
  }

  #modus .preview-modal-img {
    width: 48%;
    padding-top: 27.27%;
    top: auto;
  }

  #modus .modus-main-img {
    background-image: url('images/modus.jpg');
    left: 1%;
  }

  #modus .modus-blog-img {
    background-image: url('images/modus_horizontal_2.jpg');
    right: 1%;
  }

  #about .small-tagline {
    margin-bottom: 20px;
  }

  #about img {
    margin: 0 10px 0 5%;
  }

  .contacts-info {
    box-sizing: border-box;
    padding: 0 6% 8%;
  }

  .main-form {
    padding: 0 3%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .logo {
    margin-left: 50px;
    font-size: 30px;
    padding-top: 20px;
  }

  .navmenu {
    position: static;
    float: right;
    background: none;
    width: auto;
    padding: 0;
    transform: none;
  }

  .navmenu li {
    display: inline-block;
    line-height: 64px;
    margin: 0 20px 0 0;
    font-size: 20px;
    letter-spacing: 2px;
  }

  .navmenu a {
    border-bottom: none;
  }

  .navmenu-btn {
    display: none;
  }

  .preview {
    display: inline-block;
    width: 40%;
  }

  .preview:first-child {
    margin: 0 40px 0 0;
  }

  .about-resume {
    line-height: 1.7;
    word-spacing: 1px;
  }

  .contacts-info {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 6px 3% 0 0;
  }

  .main-form {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .preview-modal-item {
    font-size: 0.9em;
  }

  .preview:first-child {
    margin: 0 90px 0 0;
  }

  #wooder .preview-modal-img {
    width: 20%;
    padding-top: 29.94%;
    background-image: url(images/wooder_1.jpg);
  }

  #modus .modus-main-img {
    right: 25%;
    width: 20%;
    padding-top: 38.48%;
    background-image: url('images/modus_1.jpg');
  }

  #modus .modus-blog-img {
    right: 5%;
    width: 20%;
    padding-top: 35.98%;
    background-image: url('images/modus_2.jpg');
  }
}

@media (min-width: 1280px) {
  #wooder .preview-modal-img {
    width: 18%;
    padding-top: 26.94%;
  }

  #modus .modus-main-img {
    right: 25%;
    width: 18%;
    padding-top: 34.63%;
    background-image: url('images/modus_1.jpg');
  }

  #modus .modus-blog-img {
    right: 5%;
    width: 18%;
    padding-top: 32.38%;
    background-image: url('images/modus_2.jpg');
  }

  .contacts-info {
    padding: 6px 3% 0 10%;
  }
}

@media (min-width: 1440px) {
  #wooder .preview-modal-img {
    width: 16%;
    padding-top: 23.95%;
  }

  #modus .modus-main-img {
    right: 25%;
    width: 16%;
    padding-top: 30.78%;
    background-image: url('images/modus_1.jpg');
  }

  #modus .modus-blog-img {
    right: 5%;
    width: 16%;
    padding-top: 28.79%;
    background-image: url('images/modus_2.jpg');
  }
}

@media (max-width: 570px) {
  .skills ul {
    float: none;
    width: auto;
    display: inline-block;
    margin: 0 0 30px 8%;
  }

  #wooder .preview-modal-img {
    width: 60%;
    padding-top: 34.08%;
  }

  .copyright {
    position: static;
    margin: 0;
    text-align: center;
  }

  .preview:first-child {
    margin-bottom: 30px;
  }

  .preview-modal-item {
    font-size: 0.65em;
  }
}

@media (max-width: 425px) {
  #wooder .preview-modal-img {
    width: 80%;
    padding-top: 45.44%;
  }

  #about .small-tagline {
    margin: 0;
  }

  #about img {
    float: none;
    display: block;
    margin: 0 auto 20px auto;
    width: 35%;
  }

  .main-form button {
    width: 100%;
  }
}
