@import url('https://fonts.googleapis.com/css?family=Orbitron:700|Roboto+Slab');

body {
  font-family: "Roboto Slab", Arial, "Times New Roman", "sans-serif", serif;
  background: #16536e;
  color: #edecf1;
}

body, ul, li, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  background: #001126;
  text-transform: uppercase;
  z-index: 1;
}

header a {
  position: relative;
  color: #fff;
  text-decoration: none;
}

.navmenu a:before {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: width .5s;
}

.navmenu a:hover:before {
  width: 100%;
}

.logo {
  display: inline-block;
  margin: 0 0 0 50px;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
  padding-top: 20px;
  letter-spacing: 2px;
}

header ul {
  float: right;
}

header li {
  display: inline-block;
  line-height: 64px;
  margin-right: 20px;
  font-size: 20px;
  letter-spacing: 2px;
}

.tagline {
  text-align: center;
  padding: 270px 0 205px 0;
  font-size: 36px;
}

#portfolio,
#about {
  padding: 50px 0 100px 0;
}

#portfolio {
  background: #489eba;
  text-align: center;
}

#portfolio .small-tagline {
  margin-bottom: 20px;
}

.small-tagline {
  text-align: center;
}

.small-tagline span {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  font-size: 20px;
}

.small-tagline span:before,
.small-tagline span:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 200px;
  height: 1px;
  background: #fff;
}

.small-tagline span:before {
  left: -230px;
}

.small-tagline span:after {
  right: -230px;
}

.preview {
  display: inline-block;
  width: 40%;
}

.preview:first-child {
  margin-right: 90px;
}

.preview img {
  width: 100%;
}

#about {
  background: #b3c9d9;
  color: #001126;
}

#about .container {
  max-width: 720px;
}

#about .small-tagline span:before,
#about .small-tagline span:after {
  background: #001126;
}

#about img {
  border: 3px solid #000;
  width: 200px;
  float: left;
  margin-right: 30px;
}

.skills {
  margin: 20px 0 0 20px;
}

#contact {
  height: 400px;
  background: #edecf1;
}