.container {
  width: 960px;
  margin: 0 auto;
  border-width: 5px;
  border-style: solid;
  border-color: #777;
  padding: 100px;
}

p {
  color: green;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.red {
  color: #000;
}