.container {
  width: 1170px;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.row:after {
  clear: both;
}

.col-3, .col-2 {
  position: relative;
  float: left;
  min-height: 1px;
  margin: 0 15px;
}

.col-3:first-child,
.col-2:first-child {
  margin-left: 0;
}

.col-3:last-child,
.col-2:last-child {
  margin-right: 0;
}

.col-3 {
  width: 270px;
}

p {
  background: #777;
}